# 01. Importing Libraries

In [1]:
# import libraries
import pandas as pd 
import numpy as np
import os

# 02. Defining Path

In [2]:
df=pd.read_csv(r'C:\Users\Jimadek\Answer 6.1-Jaabir\02 Data\Original Data\Life Expectancy Data.csv',index_col=False)

In [3]:
# Define the Path
path = r'C:\Users\Jimadek\Answer 6.1-Jaabir'

In [4]:
path

'C:\\Users\\Jimadek\\Answer 6.1-Jaabir'

# 03. Importing Life Expectancy Data.csv

In [5]:
# import Life expectancy data.csv
df_life = pd.read_csv(os.path.join(path,'02 Data','Original Data','Life Expectancy Data.csv'))

In [6]:
# View Life expectancy data.csv
df_life.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [7]:
df_life.tail()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [8]:
df_life.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [9]:
# Check for the mean and use it to replace the missing values
df_life.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [10]:
df_life.median()

C:\Users\Jimadek\AppData\Local\Temp\ipykernel_7948\3392263260.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_life.median()

Year                               2.008000e+03
Life expectancy                    7.210000e+01
Adult Mortality                    1.440000e+02
infant deaths                      3.000000e+00
Alcohol                            3.755000e+00
percentage expenditure             6.491291e+01
Hepatitis B                        9.200000e+01
Measles                            1.700000e+01
 BMI                               4.350000e+01
under-five deaths                  4.000000e+00
Polio                              9.300000e+01
Total expenditure                  5.755000e+00
Diphtheria                         9.300000e+01
 HIV/AIDS                          1.000000e-01
GDP                                1.766948e+03
Population                         1.386542e+06
 thinness  1-19 years              3.300000e+00
 thinness 5-9 years                3.300000e+00
Income composition of resources    6.770000e-01
Schooling                          1.230000e+01
dtype: float64

# 04. Cleaning Life Expectancy Data.csv

In [11]:
# Find missing values in df_life
df_life.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [12]:
# Create a subset of dataframe with only the missing values in question
df_nan1 = df_life[df_life['Alcohol'].isnull()==True]

In [13]:
df_nan1

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.0,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.0,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,0.0,99.0,0,...,86.0,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9
80,Argentina,2015,Developing,76.3,116.0,8,NaN,0.0,94.0,0,...,93.0,NaN,94.0,0.1,13467.123600,43417765.0,1.0,0.9,0.826,17.3
96,Armenia,2015,Developing,74.8,118.0,1,NaN,0.0,94.0,33,...,96.0,NaN,94.0,0.1,369.654776,291695.0,2.1,2.2,0.741,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),2015,Developing,74.1,157.0,9,NaN,0.0,87.0,0,...,87.0,NaN,87.0,0.1,NaN,NaN,1.6,1.5,0.769,14.3
2874,Viet Nam,2015,Developing,76.0,127.0,28,NaN,0.0,97.0,256,...,97.0,NaN,97.0,0.1,NaN,NaN,14.2,14.5,0.678,12.6
2890,Yemen,2015,Developing,65.7,224.0,37,NaN,0.0,69.0,468,...,63.0,NaN,69.0,0.1,NaN,NaN,13.6,13.4,0.499,9.0
2906,Zambia,2015,Developing,61.8,33.0,27,NaN,0.0,9.0,9,...,9.0,NaN,9.0,4.1,1313.889646,161587.0,6.3,6.1,0.576,12.5
2922,Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.0,87.0,0,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3

In [14]:
# Fill NaN with column median in 'Alcohol' column
df_life['Alcohol']= df_life['Alcohol'].fillna(df_life['Alcohol'].median())

In [15]:
df_life.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [16]:
# View the missing values in 'Adult Mortality'
df_nan2 = df_life[df_life['Adult Mortality'].isnull()==True]

In [17]:
df_nan2

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
624,Cook Islands,2013,Developing,NaN,NaN,0,0.010,0.000000,98.0,0,...,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,NaN,0,0.010,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1650,Marshall Islands,2013,Developing,NaN,NaN,0,0.010,871.878317,8.0,0,...,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1715,Monaco,2013,Developing,NaN,NaN,0,0.010,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1812,Nauru,2013,Developing,NaN,NaN,0,0.010,15.606596,87.0,0,...,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1909,Niue,2013,Developing,NaN,NaN,0,0.010,0.000000,99.0,0,...,99.0,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
1958,Palau,2013,Developing,NaN,NaN,0,3.755,344.690631,99.0,0,...,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
2167,Saint Kitts and Nevis,2013,Developing,NaN,NaN,0,8.540,0.000000,97.0,0,...,96.0,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4
2216,San Marino,2013,Developing,NaN,NaN,0,0.010,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.010,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0

In [18]:
# Fill NaN with column median in 'Adult Mortality' column
df_life['Adult Mortality']= df_life['Adult Mortality'].fillna(df_life['Adult Mortality'].median())

In [19]:
df_life.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [20]:
# Rename 'Life Expectancy' to remove extra space
df_life.rename(columns = {'Life expectancy ':'Life expectancy'}, inplace = True)

In [21]:
# View the missing values in 'Life expectancy '
df_nan3 = df_life[df_life['Life expectancy'].isnull()==True]

In [22]:
df_nan3

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
624,Cook Islands,2013,Developing,NaN,144.0,0,0.010,0.000000,98.0,0,...,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,144.0,0,0.010,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1650,Marshall Islands,2013,Developing,NaN,144.0,0,0.010,871.878317,8.0,0,...,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1715,Monaco,2013,Developing,NaN,144.0,0,0.010,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1812,Nauru,2013,Developing,NaN,144.0,0,0.010,15.606596,87.0,0,...,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1909,Niue,2013,Developing,NaN,144.0,0,0.010,0.000000,99.0,0,...,99.0,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
1958,Palau,2013,Developing,NaN,144.0,0,3.755,344.690631,99.0,0,...,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
2167,Saint Kitts and Nevis,2013,Developing,NaN,144.0,0,8.540,0.000000,97.0,0,...,96.0,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4
2216,San Marino,2013,Developing,NaN,144.0,0,0.010,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,144.0,0,0.010,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0

In [23]:
# Fill NaN with column median in 'Life expectancy' column
df_life['Life expectancy']= df_life['Life expectancy'].fillna(df_life['Life expectancy'].median())

In [24]:
df_life.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [25]:
# View the missing values in 'Hepatitis B '
df_nan4 = df_life[df_life['Hepatitis B'].isnull()==True]

In [26]:
df_nan4

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
44,Algeria,2003,Developing,71.7,146.0,20,0.34,25.018523,NaN,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
45,Algeria,2002,Developing,71.6,145.0,20,0.36,148.511984,NaN,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
46,Algeria,2001,Developing,71.4,145.0,20,0.23,147.986071,NaN,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
47,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7
57,Angola,2006,Developing,47.7,381.0,90,5.84,25.086888,NaN,765,...,36.0,4.54,34.0,2.5,262.415149,2262399.0,9.8,9.7,0.439,7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,Zambia,2004,Developing,47.9,578.0,36,2.46,8.369852,NaN,35,...,84.0,7.33,83.0,17.6,53.277222,11731746.0,7.2,7.1,0.456,10.5
2918,Zambia,2003,Developing,46.4,64.0,39,2.33,65.789974,NaN,881,...,85.0,8.18,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2
2919,Zambia,2002,Developing,45.5,69.0,41,2.44,54.043480,NaN,25036,...,85.0,6.93,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0
2920,Zambia,2001,Developing,44.6,611.0,43,2.61,46.830275,NaN,16997,...,86.0,6.56,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8
2921,Zambia,2000,Developing,43.8,614.0,44,2.62,45.616880,NaN,30930,...,85.0,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6

In [27]:
# Fill NaN with column mean in 'Hepatitis B' column
df_life['Hepatitis B']= df_life['Hepatitis B'].fillna(df_life['Hepatitis B'].mean())

In [28]:
df_life.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [29]:
# Rename ' BMI 'to to remove extra spaces
df_life.rename(columns = {' BMI ':'BMI'}, inplace = True)

In [30]:
# Fill NaN with column mean in 'BMI' column
df_life['BMI']= df_life['BMI'].fillna(df_life['BMI'].mean())

In [31]:
# Fill NaN with column mean in 'Polio ' column
df_life['Polio']= df_life['Polio'].fillna(df_life['Polio'].mean())

In [32]:
# Fill NaN with column mean in 'Total expenditure' column
df_life['Total expenditure']= df_life['Total expenditure'].fillna(df_life['Total expenditure'].mean())

In [33]:
# Rename 'Diphtheria ' to to remove extra spaces
df_life.rename(columns = {'Diphtheria ':'Diphtheria'}, inplace = True)

In [34]:
# Fill NaN with column mean in 'Total expenditure' column
df_life['Diphtheria']= df_life['Diphtheria'].fillna(df_life['Diphtheria'].mean())

In [35]:
df_life.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [36]:
# View the missing values in 'GDP'
df_nan5 = df_life[df_life['GDP'].isnull()==True]

In [37]:
df_nan5

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
160,Bahamas,2015,Developing,76.1,147.0,0,3.755,0.0,95.0,0,...,95.0,5.93819,95.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
161,Bahamas,2014,Developing,75.4,16.0,0,9.450,0.0,96.0,0,...,96.0,7.74000,96.0,0.1,NaN,NaN,2.5,2.5,0.789,12.6
162,Bahamas,2013,Developing,74.8,172.0,0,9.420,0.0,97.0,0,...,97.0,7.50000,97.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6
163,Bahamas,2012,Developing,74.9,167.0,0,9.500,0.0,96.0,0,...,99.0,7.43000,98.0,0.2,NaN,NaN,2.5,2.5,0.789,12.6
164,Bahamas,2011,Developing,75.0,162.0,0,9.340,0.0,95.0,0,...,97.0,7.63000,98.0,0.1,NaN,NaN,2.5,2.5,0.788,12.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,Yemen,2004,Developing,62.2,247.0,42,0.060,0.0,43.0,12708,...,72.0,4.90000,72.0,0.1,NaN,NaN,13.9,13.9,0.464,8.4
2902,Yemen,2003,Developing,61.9,249.0,43,0.040,0.0,38.0,8536,...,61.0,5.00000,61.0,0.1,NaN,NaN,14.0,13.9,0.457,8.2
2903,Yemen,2002,Developing,61.5,25.0,45,0.070,0.0,31.0,890,...,64.0,4.22000,65.0,0.1,NaN,NaN,14.0,14.0,0.450,8.0
2904,Yemen,2001,Developing,61.1,251.0,46,0.080,0.0,19.0,485,...,73.0,4.34000,73.0,0.1,NaN,NaN,14.0,14.0,0.444,7.9
2905,Yemen,2000,Developing,68.0,252.0,48,0.070,0.0,14.0,0,...,74.0,4.14000,74.0,0.1,NaN,NaN,14.1,14.1,0.436,7.7

# 05. Merge df_life with df_cc

In [38]:
# import Country & Contient.csv
df_cc = pd.read_csv(os.path.join(path,'02 Data','Original Data','Country & Contient.csv'))

In [39]:
# View imported dataset
df_cc.head()

               Country      Continent
0          Afghanistan           Asia
1              Albania         Europe
2              Algeria         Africa
3               Angola         Africa
4  Antigua and Barbuda  North America

In [40]:
#Merge df_life with df_cc
df_merged = df_life.merge(df_cc, on = ['Country'], how = 'left')

In [41]:
df_merged.tail(20)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
2918,Zambia,2003,Developing,46.4,64.0,39,2.330,65.789974,80.940461,881,...,8.18000,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2,Africa
2919,Zambia,2002,Developing,45.5,69.0,41,2.440,54.043480,80.940461,25036,...,6.93000,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0,Africa
2920,Zambia,2001,Developing,44.6,611.0,43,2.610,46.830275,80.940461,16997,...,6.56000,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8,Africa
2921,Zambia,2000,Developing,43.8,614.0,44,2.620,45.616880,80.940461,30930,...,7.16000,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6,Africa
2922,Zimbabwe,2015,Developing,67.0,336.0,22,3.755,0.000000,87.000000,0,...,5.93819,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3,Africa
2923,Zimbabwe,2014,Developing,59.2,371.0,23,6.500,10.822595,91.000000,0,...,6.44000,91.0,6.3,127.474620,15411675.0,5.9,5.7,0.498,10.3,Africa
2924,Zimbabwe,2013,Developing,58.0,399.0,25,6.390,10.666707,95.000000,0,...,6.88000,95.0,6.8,111.227396,155456.0,6.2,6.0,0.488,10.4,Africa
2925,Zimbabwe,2012,Developing,56.6,429.0,26,6.090,92.602336,97.000000,0,...,6.69000,95.0,8.8,955.648466,1471826.0,6.5,6.4,0.464,9.8,Africa
2926,Zimbabwe,2011,Developing,54.9,464.0,28,6.000,63.750530,94.000000,0,...,6.31000,93.0,13.3,839.927936,14386649.0,6.8,6.7,0.452,10.1,Africa
2927,Zimbabwe,2010,Developing,52.4,527.0,29,5.210,53.308581,9.000000,9696,...,5.37000,89.0,15.7,713.635620,1486317.0,7.1,7.0,0.436,10.0,Africa
2928,Zimbabwe,2009,Developing,50.0,587.0,30,4.640,1.040021,73.000000,853,...,6.26000,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9,Africa
2929,Zimbabwe,2008,Developing,48.2,632.0,30,3.560,20.843429,75.000000,0,...,4.96000,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7,Africa
2930,Zimbabwe,2007,Developing,46.6,67.0,29,3.880,29.814566,72.000000,242,...,4.47000,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6,Africa
2931,Zimbabwe,2006,Developing,45.4,7.0,28,4.570,34.262169,68.000000,212,...,5.12000,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5,Africa
2932,Zimbabwe,2005,Developing,44.6,717.0,28,4.140,8.717409,65.000000,420,...,6.44000,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3,Africa
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.360,0.000000,68.000000,31,...,7.13000,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,Africa
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.060,0.000000,7.000000,998,...,6.52000,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,Africa
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.430,0.000000,73.000000,304,...,6.53000,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,Africa
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.720,0.000000,76.000000,529,...,6.16000,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,Africa
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.680,0.000000,79.000000,1483,...,7.10000,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,Africa

In [42]:
# View the missing values in 'Continent'
df_nan6 = df_merged[df_merged['Continent'].isnull()==True]

In [43]:
df_nan6.head(16)

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles , BMI, under-five deaths , Polio, Total expenditure, Diphtheria,  HIV/AIDS, GDP, Population,  thinness  1-19 years,  thinness 5-9 years, Income composition of resources, Schooling, Continent]
Index: []

[0 rows x 23 columns]